
$body-bg: $gray-900;
$body-color: $gray-200;
$blue: #01cdfe;
$indigo: #b967ff;
$purple: #b967ff;
$pink: #DD15BA;
$red: rgb(255, 95, 110);
$orange: rgb(255, 167, 93);
$yellow: #FFFC00;
$green: #05ffa1;
$teal: #01cdfe;
$cyan: #01cdfe;
$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;
$border-radius: 1rem;
$border-radius-lg: 1rem;
$font-family-monospace: Arial, "Noto Sans", sans-serif;
$yiq-text-light: $gray-300;
$secondary: $blue;
$text-muted: $gray-500;
$primary: $pink;
$navbar-light-hover-color: rgba($primary, .7);
$light: darken($gray-100,1.5);
$card-bg: $body-bg;
$navbar-dark-color: rgba($body-bg, .5);
$navbar-light-active-color: rgba($gray-200, .9);
$navbar-light-disabled-color: rgba($gray-200, .3);
$navbar-light-color: rgba($white, .5);
$input-bg: $gray-700;
$input-color: $gray-200;
$input-disabled-bg: $gray-800;
$input-border-color: $gray-800;
$mark-bg: $gray-600;
$pre-color: $gray-200;